*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2,h3,h4,h5{
    font-weight: 900;
    font-family: 'Libre Baskerville', serif;
}
a{
    color: #f77606;
    transition: .5s;
}
a:hover{
    text-decoration: none;
    color: #f77606;
}


.banner{
   width: 100%;
   height: 100vh;
   background: url(images/banner2.jpg);
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.banner_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
}
.banner_box h1{
    font-family: 'Marck Script', cursive;
    font-size: 90px;
    text-shadow: 5px 5px 5px #333;
    text-transform: capitalize;
}
.banner_box p{
    font-size: 25px;
    text-transform: capitalize;
    font-family: serif;
    font-weight: bold;
}
/* ...banner end..... */
.Best_Wedding_Photographers{
    display: block;
}
.wedding_photo .wedding_photo img{
 width: 100%;
 height: 100%;
}
.createby_left{
    float:left;
}
.createby_left p , .createby_left a{
    display: inline-block;
}
.createby_right{
    float:right;
}
.createby_right a{
    display: inline-block;
}
/* .....studios */
.studios h3{
    text-transform: capitalize;
}
.Studios_logo img{
    width: 100%;
    height: 100%;
}
.Documenting_unique_weddings{
    background-image: url(images/ring.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 75vh;
    position: relative;
}
.Documenting_unique_weddings_item {
    color: #444;
    background-color: #fcdfc6e8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 47px;
    z-index: 1;
}
.ktlogo{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
/* .....Signature_Aesthetic */
.Signature_Aesthetic h4{
    position: relative;
} 
.Signature_Aesthetic h4:before{
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    margin: auto;
    width: 10%;
    height: 3.5px;
    background: #FCDFC6;
}

.the_dream_client_manage{
     height: 500px;
}
.the_dream_client{
    width: 100%;
    height: 100%;
}
.the_dream_client h3{
    margin-top: 25%;
    margin-bottom: 10%;
}
.the_dream_client p{
    text-align: justify;
}
.the_dream_client_img {
    background-image: url(images/0b0c93e3119de98cf0041c82f13dd457.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Meet_KT_Merry p{
    text-align: justify;
}
.right_btn{
    float: right;
}
.Meet_KT_Merry_photo img{
    width: 100%;
}

/* ...........flim_digital_video_slide_item */
.flim_digital_video_slide_item{
    width: 100%;
    height: 70vh;
    outline: none;
}
.flim_digital_video_slide_item img , .flim_digital_video_slide_item iframe{
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 18px 0px #222;;
    border-radius: 10px;
    margin-top: 35px;
}
.flim_digital_video_driscription h3{
    margin-top: 23%;
}
.flim_digital_video_driscription p{
    text-align: justify;
}

/* ........testamonial */

.testamonial{
    position: relative;
    z-index: 0;
}
.testamonial h3{
    text-transform: capitalize;
}
.testamonial_item_paragrapy{
    margin: 0 60px;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%, -0);
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #ec7209;
    z-index: 1;
    outline: none;
    transform: rotate(182deg);
}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%, -0);
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #ec7209;
    z-index: 1;
    outline: none;
    transform: rotate(182deg);
}
button:focus{
    outline: none;
}
/* ......last_section */
.last_section{
    background-image: url(images/c2d26ca39bcc40a8c4f05b575080bd22.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.last_section_box{
    position: absolute;
    bottom: 6%;
    left: 11%;
    width: 50%;
    padding: 10px 30px;
    background-color: #ffffffa6;
    font-size: 25px;
    text-align: justify;
}
/* .........footer_ID */
#footer_ID{
    background-color: #1b1818;
}
#footer_ID a:hover{
    color: #736464;
}
.protfolio p, .links p{
    font-size: 25px;
    text-transform: capitalize;
    color: #1cdede;
}
.protfolio a,.links a{
    display: block;
    margin-bottom: 3px;
}
.social_midea li{
    list-style: none;
    display: inline-block;
    margin: 10px 15px;
}
.social_midea a{
    font-size: 20px;
}

.float_left img, .float_left ul{
    float: right;
    width: 100%;
}
#Copyright{
    background-color: #000;
}


.mobile-manu span{
    color: #fb7808;
    font-size: 2rem;
    float: right;
    margin: 2rem;
    cursor: pointer;
}
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
background-color: #000;
z-index: 9999999;
overflow-x:hidden;
opacity: 1;
-webkit-transform: .5s;
-ms-transform: .5s;
   transform: .5s; 

}
.overly-content{
position: relative;
top: 10%;
width: 100%;
text-align: center;
margin-top: 5rem;


}
.overly-content a{
text-decoration: none;
display: block;
font-size: 3rem;
letter-spacing: 3px;
color: #d0b3b3;
text-transform: uppercase;
padding: 1rem 0;
}
.overly-content a:hover{
color: #fff;
}
.closebtn{
color: #fff;
font-size: 4rem;
float: right;
text-decoration: none;
margin-right: 3rem
}




















@media only screen and (max-width:1124px){
    .flim_digital_video_slide_item{
        margin: 20px 0;
    }
}
@media only screen and (max-width:991px){
    .the_dream_client_manage{
        height: 700px;
   }
}
@media only screen and (max-width:767px){
    .protfolio , .links{
        text-align: center;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:613px){
    .last_section_box{
        width: 70%;
    }
    .banner_box h1{
        font-size: 60px;
    }
}
@media only screen and (max-width:414px){
    .last_section_box{
        width: 80%;
        font-size: 20px;
    }
    .mobile-manu span{
        font-size: 1.5rem;
        margin: 1rem;
    }
}
@media only screen and (max-width:362px){
    .last_section_box{
       bottom: 3%;
    }
}


